@{
    ViewBag.Title = "Index";
}

<div ng-controller="empCtrl">
    <h1>Employee Details Page</h1>
    <br/>

    <input type="button" class="btnAdd" value="Add Employee" ng-click="AddEmployeeDiv()"/>

    <div class="divList">
        <p class="divHead">Employee List</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Phone Number</b></td>
                <td><b>Actions</b></td>
            </tr>
            <tr ng-repeat="employee in employees">
                <td>{{employee.ID}}</td>
                <td>{{employee.Name}}</td>
                <td>{{employee.Email}}</td>
                <td>{{employee.MobileNumber}}</td>
                <td>
                    <span>Edit</span>
                    <span>Delete</span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divEmployee">
        <p class="divHead">{{Action}} Employee</p>
        <table>
            <tr>
                <td><b>ID</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="employeeID"/>
                </td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="employeeName"/>
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    <input type="text" ng-model="employeeEmail"/>
                </td>
            </tr>
            <tr>
                <td><b>Phone Number</b></td>
                <td>
                    <input type="text" ng-model="employeePhonenumber"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateEmployee()"/>
                </td>
            </tr>
        </table>
    </div>
</div>